:root {
    --hero-font-color: white;
    --background-color-dark: #1c1d25;
    --button-color: #6472d6;
    --button-pushed-color: #898989;
    --Horiseon-blue: #2a607c;
}

section {
    height: 800px;
    background-color: white;
    /* border: solid black 3px; */
    color: black;
}

.hero {
    background-color: var(--background-color-dark);
    height: 60vw;
    color: var(--hero-font-color);
    font-size: 40px;
}

.name-and-logo {
    display: flex;
}

.hero-image {
    margin: 60px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}

.hero-area {
    margin-left: 80px;
    margin-bottom: 100px;
    display:flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 80px;
}

a {
    text-decoration: none;
    color: var(--hero-font-color);
}

footer {
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    width: 800px;
    justify-content: space-around;
    font-size: 30px;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 40px;
    background-color:var(--button-color);
    text-align: center;
    padding-top: 5px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: var(--button-pushed-color);
}

.social-media {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.sub-section {
    display:flex;
    justify-content: space-around;
}

.sub-section-alt {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.information {
    font-size: 30px;
    padding: 30px;
}

.projects {
    display:flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .project-card {
        margin: 50px;
    }
}

.project-card {
    width: 250px;
    height: 500px;
    border-radius: 25px 0px 25px 0px;
    background-color:coral;
    justify-content: center;
    align-content: center;
    /* border: 1px solid black; */
    display:flex;
    flex-direction: column;
}

.project-card img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 35px;
}

.first-project {
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 20px white;
    background-color: var(--Horiseon-blue);
}

.first-project img {
    max-width: 100%;
    max-height: 100%;
}

#my-work {
    background-color: var(--background-color-dark)
}

#my-work h2,h3 {
    color: var(--hero-font-color)
}

#resume-button {
    display:flex;
    align-self: center;
    justify-content: center;
    align-content: center;
}