* {
    background-color: lightslategrey;
}

header {
    display: flex;
    border: solid black 2px;
}

header h1 {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#my-work {
    display:flex;
    flex-wrap: wrap;
}

section {
    display:flex;
}

.section-heading {
    /* transform: rotate(-90deg);    How to rotate text? Harder than I thought */
    margin-top: 0;
    padding-right: 10px;
    border-right: solid black 2px;
}

.box {
    height:200px;
    width:200px;
    border: 5px dotted black;
    display:flex;
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
    background-image: url(https://via.placeholder.com/25);
}

figure {}